.catalog-spec {
  @include reset-list;
  font-size: 12px;
  line-height: 16px;
}

.catalog-spec__item {
  display: flex;
  justify-content: space-between;
}

.catalog-spec__property {
  margin: 0;
}

.catalog-spec__value {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalog-spec {
    font-size: 16px;
    margin-bottom: 33px;
  }

  .catalog-spec__item {
    border-bottom: 1px solid $color-border-item;
    padding-bottom: 7px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
