.contacts {
  padding: 29px 0 25px;

  &--dark {
    background-color: $color-bg;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__partnership {
  margin: 0;
  font-family: $ff-add;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  margin-right: 20px;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .contacts__partnership {
    width: 155px;
    text-align: left;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 155px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

}
