.copyright {
  background-color: $color-bg;
  padding: 30px 0;
}

.copyright__logo {
  display: block;
  position: relative;

  &:hover > .copyright__logo-img,
  &:focus > .copyright__logo-img {
    fill: $color-main;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__title {
  margin: 0;
  font-size: 16px;
  color: $color-black;
}

.copyright__logo-img {
  fill: #666666;
  position: absolute;
  width: 29px;
  height: 34px;
  right: -2px;
  top: -5px;

  &:hover,
  &:focus {
    fill: $color-main;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
  }

  .copyright__title {
    margin-right: 50px;

    &::after {
      @include pseudo;
      right: -50px;
      top: -10px;
    }
  }
}
