.example {
  background-color: $color-bg;
}

.example__title {
  padding: 26px 0 34px;
  font-family: $ff-add;
  font-size: $ff-size-large;
  font-weight: normal;
  margin: 0;
}

.example__desc {
  padding-right: 12px;
  line-height: 18px;
  padding-bottom: 10px;
}

.example__compare {
  padding-bottom: 39px;
}

.example__compare-image {
  margin-bottom: 35px;
}

.example__toggle {
  display: none;

  &:checked ~ .example__toggle-container {
    &::before {
      transform: translateX(35px);
    }
  }
}

.example__toggle-container {
  margin: 0 auto;
  display: block;
  width: 84px;
  height: 14px;
  background-color: $color-white;
  border: 1px solid $color-border-item;
  border-radius: 6px;
  position: relative;
  cursor: pointer;

  &::before {
    @include pseudo;
    width: 35px;
    height: 6px;
    background-color: $color-main;
    border-radius: 3px;
    top: 3px;
    left: 6px;
  }
}

.example__toggle-txt {
  font-size: 16px;
  line-height: 20px;
  font-family: $ff-add;

  &::before {
    @include pseudo;
    content: "Было";
    text-transform: uppercase;
    top: -5px;
    left: -55px;
  }

  &::after {
    @include pseudo;
    content: "Стало";
    text-transform: uppercase;
    top: -6px;
    right: -61px;
  }
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $color-white;
    background-image: linear-gradient(to top, #eaeaea 42.7%, #ffffff 0);
  }

  .example__wrapper {
    padding: 0;
  }

  .example__title {
    padding-top: 39px;
    padding-bottom: 62px;
    font-size: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .example__desc {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 35px;
    padding-left: 30px;
    padding-right: 40px;
  }

  .example__stats {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 256px;
  }

  .example__compare {
    padding-bottom: 81px;
  }

  .example__pic {
    display: block;
  }

  .example__compare-image {
    width: 690px;
    height: 517px;
    margin-top: -170px;
    margin-left: 47px;
    margin-bottom: 25px;
  }

  .example__toggle:checked ~ .example__toggle-container {
    &::before {
      transform: none;
    }
  }

  .example__toggle-container {
    width: 428px;
    height: 6px;
    border: 0;
    background-color: $color-bg;

    &::before {
      width: 8px;
      height: 8px;
      border-radius: 4px;
      z-index: 1;
      left: calc(50% - 4px);
      top: 0;
    }

    &::after {
      @include pseudo;
      width: 34px;
      height: 34px;
      border-radius: 17px;
      background-color: $color-white;
      left: calc(50% - 17px);
      top: -13px;
      border: 1px solid $color-border-item;
    }

    &:hover::after,
    &:focus::after {
      box-shadow: 0 3px 5px 0 #00000040;
    }

    &:active::after {
      border-color: $color-main;
      box-shadow: 0 4px 5px 0 #0000004c;
    }
  }

  .example__toggle-txt {
    font-size: 20px;

    &::before {
      left: -70px;
      top: -7px;
      border-bottom: 1px dotted $color-border-item;
      padding-bottom: 5px;
      cursor: pointer;
    }

    &::after {
      right: -70px;
      top: -7px;
      border-bottom: 1px dotted $color-border-item;
      padding-bottom: 5px;
      cursor: pointer;
    }

    &:hover::before,
    &:focus::before,
    &:hover::after,
    &:focus::after {
      border-bottom: 1px solid $color-black;
    }

    &:active::before,
    &:active::after {
      border: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-image: linear-gradient(to top, #eaeaea 76.6%, #ffffff 0);
  }

  .example__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .example__title {
    width: 100%;
    border: 0;
    padding-left: 40px;
    padding-bottom: 71px;
    padding-top: 0;
  }

  .example__about {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 71px;
    padding-bottom: 73px;
  }

  .example__desc {
    padding-left: 0;
    width: 465px;
    margin: 0;
    padding-bottom: 68px;
  }

  .example__stats {
    padding-left: 0;
    margin-bottom: 0;
  }

  .example__compare {
    width: 60%;
    padding: 0;
    padding-left: 43px;
  }

  .example__compare-image {
    margin-top: -190px;
    margin-bottom: 45px;
  }

  .example__toggle-wrapper {
    margin-left: 83px;
  }
}
