.extra {
  position: relative;

  &::before,
  &::after {
    @include pseudo;
    height: 3px;
    background-color: $color-main;
    top: 15px;
    z-index: -1;
  }

  &::after {
    width: 50vw;
    right: 0;
  }
}

.extra__title {
  width: 268px;
  font-family: $ff-add;
  font-size: 24px;
  font-weight: normal;
  padding-left: 20px;
  background-color: $color-white;
  margin-left: -20px;
  margin-bottom: 32px;
}

.extra__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .extra {
    &::before,
    &::after {
      top: 23px;
    }

    &::before {
      width: 50vw;
      left: 0;
    }
  }

  .extra__title {
    font-size: 36px;
    width: 410px;
    padding-left: 37px;
    margin: 0;
    margin-bottom: 78px;
  }

  .extra__list {
    margin-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    margin-bottom: 85px;
  }

  .extra__title {
    padding-left: 39px;
    width: 413px;
    margin-left: -40px;
  }

  .extra__list-inner {
    display: flex;
    justify-content: space-between;
  }

  .extra__list {
    width: 100%;
    margin-right: 80px;
    margin-bottom: 0;
  }
}
