.field-item {
  margin: 0;
  padding: 25px 20px 23px;
  border: 0;
  position: relative;

  &--border {
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }

  &--decor {
    margin-top: 30px;
    padding: 0;

    &::after {
      @include pseudo;
      width: 100vw;
      height: 3px;
      background-color: $color-main;
      top: 12px;
      left: 0;
      z-index: -1;
    }
  }

  &--purpose {
    padding-bottom: 27px;
  }

  &--more {
    margin-top: 26px;
  }
}

.field-item__legend {
  font-size: 24px;
  background-color: $color-white;
  line-height: 24px;

  &--decor {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }

  &--contacts {
    width: 221px;
    margin-bottom: 32px;
  }

  &--comment {
    padding-right: 22px;
    margin-bottom: 34px;
  }

  &--more {
    padding-right: 25px;
    margin-bottom: 40px;
  }
}

.field-item__inner {
  &--wrap {
    padding: 0 20px;
  }
}

.field-item__block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &--purpose {
    margin-bottom: 25px;
  }

  &--email {
    &::after {
      @include pseudo;
      width: 17px;
      height: 13px;
      background: url("../img/icon-mail.svg") no-repeat;
      right: 15px;
      top: 15px;
    }
  }

  &--phone {
    &::after {
      @include pseudo;
      width: 20px;
      height: 20px;
      background: url("../img/icon-phone.svg") no-repeat;
      right: 12px;
      top: 12px;
    }
  }

  &--more {
    margin-bottom: 25px;
  }
}

.field-item__label {
  white-space: nowrap;
  text-transform: uppercase;
  margin-right: 15px;
  position: relative;

  &--purpose {
    padding-left: 44px;
    position: relative;
    margin-right: 0;

    &::before {
      @include pseudo;
      width: 30px;
      height: 30px;
      background-color: $color-white;
      left: 0;
      top: -7px;
      border: 1px solid $color-border-item;
      border-radius: 15px;
    }
  }

  &--comment {
    margin-right: 0;
  }

  &--more {
    padding-left: 45px;

    &::before {
      @include pseudo;
      width: 30px;
      height: 30px;
      background-color: $color-white;
      border: 1px solid $color-border-item;
      left: 0;
      top: -6px;
    }
  }
}

.field-item__input {
  text-transform: uppercase;
  padding: 11px 15px 13px;
  border: 1px solid $color-border-item;

  &--wide {
    width: 100%;
  }

  &--purpose {
    display: none;
  }

  &--comment {
    padding-right: 10px;
  }

  &--more {
    display: none;
  }
}

.field-item__input:checked ~ .field-item__label {
  &--purpose {
    &::after {
      @include pseudo;
      width: 12px;
      height: 12px;
      background-color: $color-main;
      border-radius: 6px;
      left: 9px;
      top: 1px;
    }
  }

  &--more {
    &::after {
      @include pseudo;
      width: 21px;
      height: 16px;
      background: url("../img/icon-tick.svg") no-repeat;
      left: 5px;
      top: 1px;
    }
  }
}

@media (min-width: $tablet-width) {
  .field-item {
    padding: 35px 0 33px;
    font-size: 20px;

    &--purpose {
      margin-top: 39px;
      padding: 33px 28px 34px;
      border: 1px solid $color-border-item;
    }

    &--decor {
      margin-top: 70px;
      padding-bottom: 0;

      &::after {
        left: -11%;
        top: 17px;
      }
    }

    &--contacts {
      margin-top: 80px;
    }
  }

  .field-item__legend {
    font-size: 36px;

    &--contacts {
      width: 593px;
      margin-left: -40px;
      padding-left: 40px;
      padding-right: 0;
      margin-bottom: 44px;
    }

    &--comment {
      margin-left: -40px;
      padding-left: 40px;
      padding-right: 38px;
      margin-bottom: 44px;
    }

    &--more {
      margin-left: -40px;
      padding-left: 40px;
      padding-right: 41px;
      margin-bottom: 33px;
    }
  }

  .field-item__inner {
    &--wrap {
      padding: 0;
    }

    &--more {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .field-item__block {
    margin-bottom: 20px;

    &--purpose {
      margin-bottom: 29px;
    }

    &--email {
      &::after {
        top: 20px;
        right: 16px;
      }
    }

    &--phone {
      &::after {
        top: 17px;
        right: 13px;
      }
    }

    &--more {
      width: 45%;
      margin-bottom: 50px;

      &:nth-child(odd) {
        // margin-right: 125px;
      }

      &:last-child {
        margin-bottom: 50px;
      }
    }
  }

  .field-item__input {
    padding: 13px 20px 14px;

    &--comment {
      height: 174px;
    }
  }

  .field-item__label {
    &--purpose {
      padding-left: 60px;

      &::before {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }

      &::after {
        width: 18px;
        height: 18px;
      }
    }

    &--more {
      padding-left: 58px;

      &::before {
        width: 40px;
        height: 40px;
        top: -8px;
      }
    }
  }

  .field-item__input:checked ~ .field-item__label {
    &--purpose {
      &::after {
        width: 18px;
        height: 18px;
        border-radius: 9px;
        left: 11px;
        top: 2px;
      }
    }

    &--more {
      &::after {
        left: 10px;
        top: 4px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .field-item {
    padding: 0;

    &--purpose {
      padding: 33px 28px 31px;
      margin-top: 0;
      margin-left: 73px;
    }

    &--decor {
      margin-top: 74px;
    }
  }

  .field-item__legend {
    &--contacts {
      margin-bottom: 77px;
    }

    &--comment {
      margin-bottom: 79px;
    }

    &--more {
      margin-bottom: 66px;
    }
  }

  .field-item__inner {
    &--contact {
      display: flex;
    }

    &--more {
      margin-bottom: 58px;
    }
  }

  .field-item__block {
    &--email {
      width: 50%;
      margin-right: 75px;
      margin-bottom: 0;

      &::after {
        right: 23px;
      }
    }

    &--phone {
      width: 50%;

      &::after {
        right: 20px;
      }
    }

    &--more {
      width: 20%;
      margin-bottom: 0;
      margin-right: 10px;
      &:last-child {
        margin: 0;
      }
    }
  }
}
