.field-item {
  margin: 0;
  padding: 25px 0 23px;
  border: 0;
  position: relative;

  &--border {
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }

  &--decor {
    margin-top: 30px;
    padding: 0;

    &::after,
    &::before {
      @include pseudo;
      height: 3px;
      background-color: $color-main;
      top: 12px;
      z-index: -1;
    }

    &::after {
      width: 50vw;
      right: 0;
    }
  }

  &--purpose {
    padding-bottom: 27px;
  }

  &--more {
    margin-top: 26px;
  }
}

.field-item__legend {
  font-size: 24px;
  background-color: $color-white;
  line-height: 24px;
  font-weight: normal;
  display: inline-block;

  &--contacts {
    width: 203px;
    padding-right: 22px;
    margin-bottom: 32px;
  }

  &--comment {
    padding-right: 22px;
    margin-bottom: 34px;
  }

  &--more {
    padding-right: 25px;
    margin-bottom: 40px;
  }
}

.field-item__block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &--purpose {
    margin-bottom: 25px;
  }

  &--more {
    margin-bottom: 25px;
  }
}

.field-item__label {
  white-space: nowrap;
  text-transform: uppercase;
  margin-right: 14px;
  cursor: pointer;


  &--purpose {
    padding-left: 44px;
    position: relative;
    margin-right: 0;

    &::before {
      @include pseudo;
      width: 30px;
      height: 30px;
      background-color: $color-white;
      left: 0;
      top: -7px;
      border: 1px solid $color-border-item;
      border-radius: 15px;
    }

    &:hover::before,
    &:focus::before {
      border-color: $color-checkbox-hover;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--comment {
    margin-right: 0;
  }

  &--more {
    white-space: normal;
    padding-left: 45px;
    position: relative;

    &::before {
      @include pseudo;
      width: 30px;
      height: 30px;
      background-color: $color-white;
      border: 1px solid $color-border-item;
      left: 0;
      top: -6px;
    }

    &:hover::before,
    &:focus::before {
      border-color: $color-checkbox-hover;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.field-item__icon {
  &--email {
    position: absolute;
    right: 16px;
    top: 16px;
  }

  &--phone {
    position: absolute;
    top: 14px;
    right: 13px;
  }
}

.field-item__input {
  text-transform: uppercase;
  padding: 11px 15px 13px;
  border: 1px solid $color-border;
  outline: none;

  &--wide {
    width: 100%;
  }

  &--purpose {
    display: none;
  }

  &--comment {
    padding-right: 10px;
  }

  &--more {
    display: none;
  }

  &--email {
    padding: 12px 10px 11px;
  }

  &--phone {
    padding: 13px 9px 11px;
  }

  &:required {
    border-color: $color-border;
  }

  &:hover {
    border-color: $color-border-item;
  }

  &:active,
  &:focus,
  &:not(:placeholder-shown) {
    border-color: $color-black;
  }

  &:invalid {
    border-color: $color-input-error;
  }
}

.field-item__input:valid ~ .field-item__icon {
  fill: $color-main;
}

.field-item__input:invalid ~ .field-item__icon {
  fill: $color-input-error;
}

.field-item__input:checked ~ .field-item__label {
  &--purpose {
    &::after {
      @include pseudo;
      width: 12px;
      height: 12px;
      background-color: $color-main;
      border-radius: 6px;
      left: 9px;
      top: 2px;
    }
  }

  &--more {
    &::after {
      @include pseudo;
      width: 21px;
      height: 16px;
      background: url("../img/icon-tick.svg") no-repeat;
      left: 5px;
      top: 1px;
    }
  }
}

@media (min-width: $tablet-width) {
  .field-item {
    padding: 35px 0 33px;
    font-size: 20px;

    &--purpose {
      margin-top: 39px;
      padding: 0;
    }

    &--decor {
      margin-top: 35px;
      padding-bottom: 0;

      &::before,
      &::after {
        top: 52px;
      }

      &::after {
        width: 64vw;
      }

      &::before {
        width: 50vw;
        left: 0;
      }

    }

    &--border {
      border: none;
    }

    &--contacts {
      margin-top: 45px;
    }
  }

  .field-item__legend {
    font-size: 36px;

    &--contacts {
      width: 593px;
      margin-left: -40px;
      padding-left: 40px;
      padding-right: 0;
      margin-bottom: 84px;
    }

    &--comment {
      margin-left: -40px;
      padding-left: 40px;
      padding-right: 38px;
      margin-bottom: 84px;
    }

    &--more {
      margin-left: -40px;
      padding-left: 40px;
      padding-right: 41px;
      margin-bottom: 72px;
    }
  }

  .field-item__inner {
    &--wrap {
      padding: 0;
    }

    &--more {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--border {
      padding: 33px 28px 34px;
      border: 1px solid $color-border-item;
    }
  }

  .field-item__block {
    margin-bottom: 20px;

    &--purpose {
      margin-bottom: 29px;
    }

    &--email {
      &::after {
        top: 20px;
        right: 16px;
      }
    }

    &--phone {
      &::after {
        top: 17px;
        right: 13px;
      }
    }

    &--more {
      width: 45%;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 50px;
      }
    }
  }

  .field-item__input {
    padding: 13px 20px 14px;

    &--comment {
      height: 174px;
    }

    &--email {
      padding: 12px 25px 14px;
    }
  }

  .field-item__label {
    &--purpose {
      padding-left: 60px;

      &::before {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }

      &::after {
        width: 18px;
        height: 18px;
      }
    }

    &--more {
      padding-left: 58px;

      &::before {
        width: 40px;
        height: 40px;
        top: -8px;
      }
    }
  }

  .field-item__input:checked ~ .field-item__label {
    &--purpose {
      &::after {
        width: 18px;
        height: 18px;
        border-radius: 9px;
        left: 11px;
        top: 4px;
      }
    }

    &--more {
      &::after {
        left: 10px;
        top: 4px;
      }
    }
  }

  .field-item__icon {
    &--email {
      top: 19px;
    }

    &--phone {
      top: 17px;
    }
  }
}

@media (min-width: $desktop-width) {
  .field-item {
    padding: 0;

    &--purpose {
      margin-top: 0;
      margin-left: 73px;
    }

    &--decor {
      margin-top: 74px;

      &::before,
      &::after {
        top: 17px;
      }
    }
  }

  .field-item__legend {
    &--comment {
      margin-bottom: 80px;
    }

    &--more {
      margin-bottom: 70px;
    }
  }

  .field-item__inner {
    &--contact {
      display: flex;
    }

    &--more {
      margin-bottom: 58px;
    }
  }

  .field-item__block {
    &--email {
      width: 50%;
      margin-right: 75px;
      margin-bottom: 0;

      &::after {
        right: 23px;
      }
    }

    &--phone {
      width: 50%;

      &::after {
        right: 20px;
      }
    }

    &--more {
      width: 20%;
      margin-bottom: 0;
      margin-right: 10px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .field-item__icon {
    &--email {
      right: 23px;
      top: 20px;
    }

    &--phone {
      right: 19px;
      top: 17px;
    }
  }
}
