.form {
  font-family: $ff-add;
  font-size: 16px;
}

.form__header-title {
  margin-top: 24px;
  margin-bottom: 35px;
  font-size: $ff-size-large;
  font-weight: normal;
}

.form__header-desc {
  padding-right: 50px;
  line-height: 18px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.form__submit {
  margin-bottom: 32px;
}

.form__button {
  margin-top: 40px;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    background-color: $color-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.form__submit-note {
  display: block;
  text-align: center;
  font-family: $ff-standart;
  font-size: $ff-main-size;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    padding: 0 70px;
  }

  .form__header-title {
    font-size: 60px;
    margin-top: 51px;
    margin-bottom: 50px;
  }

  .form__header-desc {
    width: 400px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 0;
    margin-bottom: 31px;
  }

  .form__submit {
    margin-top: 11px;
    margin-bottom: 72px;
  }

  .form__submit-wrapper {
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: flex-start;
  }

  .form__button {
    font-size: 20px;
    margin: 0;
    width: 283px;
    margin-right: 61px;
    padding: 15px 0 14px;
  }

  .form__submit-note {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__top-wrapper {
    display: flex;
    width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .form__wrapper {
    padding: 0 40px;

    &--small {
      padding: 0;
    }
  }

  .form__header-title {
    padding: 0;
    margin-top: 67px;
  }

  .form__header-desc {
    padding: 0;
    width: 350px;
    margin-bottom: 67px;
  }

  .form__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .form__field {
    width: 100%;

    &--l-half {
      width: 47%;
    }
  }

  .form__submit-wrapper {
    padding: 0;
  }

  .form__submit {
    width: 1300px;
    margin-bottom: 83px;
  }

  .form__button {
    width: 568px;
    margin-right: 82px;
  }
}
