.gift {
  padding-top: 35px;
}

.gift__wrapper {
  background: url("../img/gift-photo-mobile@1x.jpg") center center no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/gift-photo-mobile@2x.jpg") 50% no-repeat;
    background-size: 280px auto;
  }
}

.gift__desc {
  text-align: center;
  font-size: 16px;
  color: $color-white;
  padding: 190px 30px 46px;
  line-height: 20px;
  position: relative;
  margin-bottom: 32px;

  &::before {
    @include pseudo;
    width: 56px;
    height: 61px;
    background: url("../img/icon-gift.svg") no-repeat;
    left: calc(50% - #{$gift-width / 2});
    top: 69px;
  }
}

@media (min-width: $tablet-width) {
  .gift {
    padding: 0;
    margin-bottom: 75px;
  }

  .gift__wrapper {
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/gift-photo-tablet@2x.jpg") 50% no-repeat;
      background-size: 708px auto;
    }
  }

  .gift__desc {
    text-align: left;
    padding-left: 393px;
    padding-right: 90px;
    padding-top: 72px;
    padding-bottom: 69px;
    margin-bottom: 0;

    &::before {
      left: 60px;
      top: 65px;
    }
  }
}

@media (min-width: $desktop-width) {
  .gift {
    margin-left: auto;
    margin-bottom: 0;
  }

  .gift__wrapper {
    padding: 0;
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/gift-photo-desktop@2x.jpg") 50% no-repeat;
      background-size: 245px auto;
    }
  }

  .gift__desc {
    box-sizing: content-box;
    text-align: center;
    width: 165px;
    padding: 188px 40px 42px;

    &::before {
      left: 95px;
    }
  }
}
