.page-footer__logo {
  display: block;
  text-align: center;
  padding: 42px 0 30px;
  background-color: $color-bg;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__bottom {
  background-color: $color-bg;
}

@media (min-width: $tablet-width) {
  .page-footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 58px;
  }

  .page-footer__logo {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__inner {
    align-items: center;
  }

  .page-footer__contacts {
    background-color: $color-white;
    position: absolute;
    top: 95px;
    left: calc(50% - 609px);
  }
}
