.program-item {
  background-color: $color-bg;
  padding: 0 20px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;

  &::before {
    @include pseudo;
    width: 50px;
    height: 50px;
    background-color: $color-main;
    border-radius: 25px;
    top: 24px;
    left: 22px;
  }

  &::after {
    @include pseudo;
  }

  &--weightloss {
    &::after {
      background: url("../img/icon-cat-slim.svg") no-repeat;
      width: 35px;
      height: 49px;
      top: 22px;
      left: 28px;
    }
  }

  &--mass {
    &::after {
      background: url("../img/icon-cat-pro.svg") no-repeat;
      width: 67px;
      height: 28px;
      top: 35px;
      left: 11px;
    }
  }
}

.program-item__title {
  margin: 0;
  font-family: $ff-add;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 70px;
  padding-bottom: 34px;
  padding-top: 34px;
}

.program-item__desc {
  margin: 0;
  line-height: 18px;
  padding-bottom: 23px;
  border-bottom: 1px solid $color-border;
  margin-bottom: 19px;
}

.program-item__link {
  text-transform: uppercase;
  color: $color-black;
  font-family: $ff-add;
  font-size: 16px;
  position: relative;

  &::after {
    @include pseudo;
    width: 25px;
    height: 12px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
    right: -35px;
    top: 6px;
  }

  &:hover::after,
  &:focus::after {
    background: url("../img/icon-right-arrow-verylong.svg") no-repeat;
    width: 34px;
    right: -57px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .program-item {
    padding-bottom: 59px;
    padding-left: 52px;
    margin-bottom: 30px;
    padding-right: 0;

    &::before {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      top: 90px;
      left: auto;
      right: 60px;
    }

    &--weightloss {
      &::after {
        background: url("../img/icon-cat-slim.svg") no-repeat;
        width: 140px;
        height: 194px;
        top: 78px;
        left: auto;
        right: 90px;
      }
    }

    &--mass {
      &::after {
        background: url("../img/icon-cat-pro.svg") no-repeat;
        width: 268px;
        height: 112px;
        top: 132px;
        left: auto;
        right: 28px;
      }
    }
  }

  .program-item__title {
    padding-top: 74px;
    padding-bottom: 24px;
    padding-left: 0;
    font-size: $ff-size-large;
  }

  .program-item__desc {
    font-size: 16px;
    line-height: 24px;
    width: 375px;
    border: 0;
    margin: 0;
    padding-bottom: 55px;

    &--thin {
      width: 340px;
    }
  }

  .program-item__link {
    font-size: 20px;

    &::after {
      right: -48px;
      top: 9px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program-item {
    margin: 0;
    margin-right: 80px;
    padding-right: 48px;
    margin-bottom: 67px;
    width: 570px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &::before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }

    &--weightloss {
      &::after {
        width: 71px;
        height: 97px;
        left: 66px;
        top: 41px;
      }
    }

    &--mass {
      &::after {
        width: 134px;
        height: 57px;
        left: 34px;
        top: 69px;
      }
    }
  }

  .program-item__title {
    padding-left: 162px;
    padding-bottom: 73px;
  }

  .program-item__desc {
    width: 470px;
    padding-bottom: 30px;
  }
}
