.programs__wrapper {
  margin-top: -2px;
  padding-bottom: 4px;
}

@media (min-width: $tablet-width) {
  .programs__wrapper {
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .programs__wrapper {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
