.promo {
  text-align: center;
  font-family: $ff-add;
  color: $color-white;
}

.promo__wrapper {
  padding-top: 26px;
  padding-bottom: 22px;
  position: relative;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.promo__title {
  margin: 0;
  font-size: $ff-size-large;
  font-weight: normal;
  padding-bottom: 24px;
  line-height: 36px;
}

.promo__desc {
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 167px;
}

.promo__link {
  margin-top: 135px;
  font-size: 14px;
}

.promo__image {
  position: absolute;
  left: calc(50% - 140px);
  top: 167px;
}

.promo__bg-image {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    background: none;
    padding-top: 55px;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 531px;
  }

  .promo__title {
    color: $color-black;
    //margin-left: 90px;
    text-align: left;
    font-size: 60px;
    width: 535px;
    line-height: 60px;
    padding-bottom: 40px;
    padding-left: 120px;
  }

  .promo__desc {
    color: $color-black;
    font-size: 20px;
    text-align: left;
    padding-left: 120px;
    padding-bottom: 0;
    margin-bottom: 46px;
  }

  .promo__link {
    font-size: 20px;
    padding: 16px 27px;
    width: 245px;
    top: 284px;
    line-height: 20px;
    margin-left: 120px;
    margin-top: 0;
  }

  .promo__image {
    height: 609px;
    width: 709px;
    z-index: -1;
    left: calc(50% - 355px);
    top: 257px;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    padding-top: 106px;
    padding-left: 70px;
    margin-bottom: 270px;

    &::before {
      content: "";
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: 720px 696px;
      background-color: $color-main;
      background-repeat: no-repeat;
      position: absolute;
      top: -116px;
      width: 50vw;
      height: 696px;
      left: 50%;
      z-index: -1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .promo__title {
    padding-left: 50px;
  }

  .promo__desc {
    margin-bottom: 51px;
    padding-left: 50px;
  }

  .promo__image {
    width: 552px;
    height: 499px;
    top: 25px;
    left: calc(50% - 160px);
  }

  .promo__link {
    margin-left: 50px;
  }
}
