.promo {
  text-align: center;
  font-family: $ff-add;
  color: $color-white;
}

.promo__wrapper {
  padding-top: 23px;
  padding-bottom: 20px;
  background: url("../img/index-background-mobile@1x.jpg") top center no-repeat;
  background-size: contain;
}

.promo__title {
  margin: 0;
  font-size: $ff-size-large;
  font-weight: normal;
  padding-bottom: 19px;
}

.promo__desc {
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.promo__link {
  font-size: 14px;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    background: none;
    padding-top: 65px;
    padding-left: 120px;
    position: relative;
  }

  .promo__title {
    color: $color-black;
    //margin-left: 90px;
    text-align: left;
    font-size: 60px;
    width: 415px;
    line-height: 60px;
    padding-bottom: 30px;
  }

  .promo__desc {
    color: $color-black;
    font-size: 20px;
    text-align: left;
    //margin-left: 90px;
  }

  .promo__link {
    position: absolute;
    font-size: 20px;
    padding: 16px 27px;
    width: auto;
    top: 290px;
    line-height: 20px;
  }
}
