.site-list {
  @include reset-list;
}

.site-list__item {
  text-align: center;
  border-bottom: 1px solid $color-border;
}

.site-list__link {
  display: block;
  padding: 24px 0;
  font-family: $ff-add;
  font-size: $ff-medium-size;
  font-weight: 500;
  color: $color-black;
  text-transform: uppercase;
}
