.social {
  background-color: $color-bg;
}

.social__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
  padding: 20px 82px 20px 73px;
  border-top: 1px solid $color-border-item;
  border-bottom: 1px solid $color-border-item;
}

.social__item {
  //margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link-img {
  display: block;

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--instagram {
    height: 17px;
    width: 17px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }

  &:hover,
  &:focus {
    fill: $color-main;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    border: 0;
    padding: 0;
    margin-left: 20px;
    display: flex;
    align-items: center;
    margin-top: -5px;
  }

  .social__item {
    margin-right: 28px;
  }

  .social__link-img {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      height: 23px;
      width: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    margin-top: 0;
  }
}
