.stats-example__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stats-example__item {
  text-align: center;
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $color-border-item;
  position: relative;

  &--line {
    width: 100%;
    border: 0;
    padding-top: 35px;
  }
}

.stats-example__value {
  margin: 0;
  font-family: $ff-add;
  font-size: 24px;
  padding: 12px 0 15px;
  text-transform: uppercase;
}

.stats-example__property {
  width: 57px;
  position: absolute;
  top: 46px;
  font-size: $ff-min-size;
  margin: 0;
  background-color: $color-bg;
  box-sizing: content-box;
  padding: 0 15px;
}

.stats-example__cost {
  font-family: $ff-add;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .stats-example__list {
    align-items: center;
  }

  .stats-example__item {
    width: 162px;
    margin-right: 42px;

    &--line {
      font-size: 20px;
      width: 174px;
      padding: 0;
      margin-left: auto;
      margin-right: 0;
    }
  }

  .stats-example__value {
    font-size: 30px;
    padding-top: 17px;
    padding-bottom: 18px;
  }

  .stats-example__property {
    font-size: $ff-main-size;
    width: auto;
    top: 60px;
    background-color: $color-white;
  }

  .stats-example__cost {
    margin: 0;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .stats-example__list {
    justify-content: start;
  }

  .stats-example__item {
    &--line {
      width: auto;
      margin: 0;
    }
  }

  .stats-example__property {
    background-color: #eaeaea;
  }

  .stats-example__cost {
    padding-top: 60px;
  }

  .stats-example__cost-span {
    padding-left: 60px;
  }
}
